p{
 color:blue;
}
.container p{
    font-weight: bold;
}
ul .active {
    background-color: yellow;
}
#menu li{
    border-bottom: 1px solid grey;
}
a:hover{
    color: black;
}
ul :first-child {
    font-style: italic;
}
input{
    type:text;
    border: 2px solid red;
}
p:nth-child(even){
    background-color: lightgrey;
}
button::before{
content: ""
}
button::after{
    content: ""
}